.grid-container {
    display: grid;
    height: fit-content;
    grid-template-columns: 0.7fr minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-areas: "page-title page-title"
                         "page-content page-content";
  }
  
  .page-title {
      grid-area: page-title;
      font-size: 75px;
    }
  
  .page-content {
      grid-area: page-content;
      margin-top: 25px;
    }

    .footer {
        grid-area: footer;
    }