@import '../common/variables.css';

.grid-container {
  display: grid;
  grid-template-columns: 1fr 0.9fr 1.1fr;
  grid-template-rows: 0.7fr 0.9fr 1.4fr 1fr;
  grid-template-areas: "page-title page-title page-title" "page-content page-content page-title" "page-content page-content page-content" "page-content page-content page-content";
}

.page-title { grid-area: page-title; }

.page-content { grid-area: page-content; }

.page-content { grid-area: page-content; }